body {
    margin: 0;
    background-image: url("alien.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;

}
.btn {
    position: fixed;
    left: 47%;
    top: 80%;
    border-color: black;
    cursor: pointer;
}

h1 {
    position: fixed;
    top: 50%;
    left: 45%;
}
