body {
    margin: 0;
    background-image: url(https://images.wallpapersden.com/image/download/alien-isolation_67773_2560x1080.jpg);
    background-attachment: fixed;
    background-size: cover;

}
.btn {
    position: fixed;
    left: 45%;
    top: 80%;
    border-color: black;
    cursor: pointer;
}