body {
    margin: 0;
    background-image: url("alien.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;

}
.btn {
    position: fixed;
    left: 47%;
    top: 80%;
    padding: 0;
    border: none;
    background: none;    
    cursor: pointer;
    color:whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    position: fixed;
    top: 50%;
    left: 45%;
}
